In [4]:
import sqlalchemy as sql
import pandas as pd
import numpy as np

In [5]:
dfbio_1 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_biometric_0_500000.csv')
dfbio_2 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_biometric_500000_1000000.csv')
dfbio_3 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_biometric_1000000_1500000.csv')
dfbio_4 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_biometric_1500000_1861108.csv')

In [6]:
#dfbio_1.tail(20)
#dfbio_2.head(21)
#dfbio_3.tail()
dfbio_4.tail(20)

,date,state,district,pincode,bio_age_5_17,bio_age_17_
361088,29-12-2025,West Bengal,South 24 Parganas,743375,2,3
361089,29-12-2025,West Bengal,South 24 Parganas,743378,2,3
361090,29-12-2025,West Bengal,South 24 Parganas,743384,2,0
361091,29-12-2025,West Bengal,South 24 Parganas,743392,0,1
361092,29-12-2025,West Bengal,South 24 Parganas,743502,9,5
361093,29-12-2025,West Bengal,South Dinajpur,733126,0,4
361094,29-12-2025,West Bengal,South Dinajpur,733140,0,1
361095,29-12-2025,West Bengal,South Dinajpur,733145,0,1
361096,29-12-2025,West Bengal,South Dinajpur,733153,1,0
361097,29-12-2025,West Bengal,South Dinajpur,733155,1,1
361098,29-12-2025,West Bengal,South Twenty Four Parganas,700084,0,1
361099,29-12-2025,West Bengal,South Twenty Four Parganas,700145,1,3
361100,29-12-2025,West Bengal,South Twenty Four Parganas,743348,0,1
361101,29-12-2025,West Bengal,South Twenty Four Parganas,743370,1,0
361102,29-12-2025,West Bengal,South Twenty Four Parganas,743373,1,8
361103,29-12-2025,West Bengal,Uttar Dinajpur,733201,4,9
361104,29-12-2025,West Bengal,Uttar Dinajpur,733213,0,1
361105,29-12-2025,West Bengal,West Midnapore,721304,0,3
361106,29-12-2025,West Bengal,West Midnapore,721451,2,0
361107,29-12-2025,West Bengal,West Midnapore,721457,0,1

In [7]:
dfbio_1.describe()
dfbio_2.describe()
dfbio_3.describe()
dfbio_4.describe()

             pincode   bio_age_5_17    bio_age_17_
count  361108.000000  361108.000000  361108.000000
mean   522148.027720       8.203139       7.377469
std    196163.123982      16.473975      12.690448
min    110001.000000       0.000000       0.000000
25%    393030.000000       1.000000       1.000000
50%    522657.000000       3.000000       3.000000
75%    683548.250000       9.000000       8.000000
max    855456.000000     723.000000     383.000000

In [8]:
#dfbio_3.shape
dfbio_4.shape

(361108, 6)

In [9]:
dfbio_1.isnull().sum()
#dfbio_2.isnull().sum()
#dfbio_3.isnull().sum()
#dfbio_4.isnull().sum()

date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

WHOLE COMBINED BIOMETRIC DATA

In [10]:
Combined_bio  =pd.concat([dfbio_1, dfbio_2, dfbio_3, dfbio_4], ignore_index=True)

In [11]:
Combined_bio

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815
...,...,...,...,...,...,...
1861103,29-12-2025,West Bengal,Uttar Dinajpur,733201,4,9
1861104,29-12-2025,West Bengal,Uttar Dinajpur,733213,0,1
1861105,29-12-2025,West Bengal,West Midnapore,721304,0,3
1861106,29-12-2025,West Bengal,West Midnapore,721451,2,0
1861107,29-12-2025,West Bengal,West Midnapore,721457,0,1

In [12]:
Combined_bio.shape

(1861108, 6)

In [13]:
demo_1 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_demographic_0_500000.csv')
demo_2 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_demographic_500000_1000000.csv')
demo_3 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_demographic_1000000_1500000.csv')
demo_4 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_demographic_1500000_2000000.csv')
demo_5 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_demographic_2000000_2071700.csv')

In [14]:
#demo_2.tail()
#demo_3.tail()
#demo_4.tail()
demo_5.tail(30)
#demo_1.shape

,date,state,district,pincode,demo_age_5_17,demo_age_17_
71670,29-12-2025,West Bengal,South 24 Parganas,743383,7,36
71671,29-12-2025,West Bengal,South 24 Parganas,743385,0,3
71672,29-12-2025,West Bengal,South 24 Parganas,743387,1,27
71673,29-12-2025,West Bengal,South 24 Parganas,743503,2,44
71674,29-12-2025,West Bengal,South 24 Parganas,743513,1,41
71675,29-12-2025,West Bengal,South 24 Parganas,743609,2,32
71676,29-12-2025,West Bengal,South 24 Parganas,743611,2,26
71677,29-12-2025,West Bengal,South Dinajpur,733133,0,5
71678,29-12-2025,West Bengal,South Twenty Four Parganas,700008,0,3
71679,29-12-2025,West Bengal,South Twenty Four Parganas,700063,0,11
71680,29-12-2025,West Bengal,South Twenty Four Parganas,700070,0,10
71681,29-12-2025,West Bengal,South Twenty Four Parganas,700140,0,10
71682,29-12-2025,West Bengal,South Twenty Four Parganas,743318,0,18
71683,29-12-2025,West Bengal,South Twenty Four Parganas,743347,1,38
71684,29-12-2025,West Bengal,South Twenty Four Parganas,743374,1,22
71685,29-12-2025,West Bengal,South Twenty Four Parganas,743377,0,3
71686,29-12-2025,West Bengal,Uttar Dinajpur,733128,2,73
71687,29-12-2025,West Bengal,Uttar Dinajpur,733150,0,1
71688,29-12-2025,West Bengal,Uttar Dinajpur,733211,0,9
71689,29-12-2025,West Bengal,Uttar Dinajpur,733212,0,9
71690,29-12-2025,West Bengal,West Midnapore,721101,0,20
71691,29-12-2025,West Bengal,West Midnapore,721102,0,12
71692,29-12-2025,West Bengal,West Midnapore,721124,0,1
71693,29-12-2025,West Bengal,West Midnapore,721150,1,9
71694,29-12-2025,West Bengal,West Midnapore,721170,0,2
71695,29-12-2025,West Bengal,West Midnapore,721212,0,12
71696,29-12-2025,West Bengal,West Midnapore,721420,0,1
71697,29-12-2025,West Bengal,West Midnapore,721424,0,5
71698,29-12-2025,West Bengal,West Midnapore,721426,0,3
71699,29-12-2025,West Bengal,hooghly,712701,0,1

In [15]:
demo_5.shape

(71700, 6)

In [16]:
demo_3.isnull().sum()

date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

In [17]:
demo_3.describe()

             pincode  demo_age_5_17   demo_age_17_
count  500000.000000  500000.000000  500000.000000
mean   529598.351996       2.148640      19.830852
std    196389.490902      13.852425     113.525472
min    110001.000000       0.000000       0.000000
25%    400053.000000       0.000000       2.000000
50%    530013.000000       1.000000       6.000000
75%    695310.250000       2.000000      15.000000
max    855456.000000    2690.000000   14314.000000

WHOLE COMBINED DEMOGRAPHIC DATA

In [18]:
combined_demo = pd.concat([demo_1, demo_2, demo_3, demo_4, demo_5], ignore_index=True)

In [19]:
combined_demo

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785
...,...,...,...,...,...,...
2071695,29-12-2025,West Bengal,West Midnapore,721212,0,12
2071696,29-12-2025,West Bengal,West Midnapore,721420,0,1
2071697,29-12-2025,West Bengal,West Midnapore,721424,0,5
2071698,29-12-2025,West Bengal,West Midnapore,721426,0,3
2071699,29-12-2025,West Bengal,hooghly,712701,0,1

In [20]:
enro_1 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_enrolment_0_500000.csv')
enro_2 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_enrolment_500000_1000000.csv')
enro_3 = pd.read_csv(r'D:\ADH HACKATHON\HProject\api_data_aadhar_enrolment_1000000_1006029.csv')

In [21]:
#enro_1.tail()
#enro_2.tail()
enro_3.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [22]:
enro_1.shape

(500000, 7)

In [23]:
enro_3.describe()

             pincode      age_0_5     age_5_17  age_18_greater
count    6029.000000  6029.000000  6029.000000     6029.000000
mean   518765.547023     3.606734     3.493448        0.096533
std    193308.752319     6.055847     6.694502        0.479475
min    110003.000000     0.000000     0.000000        0.000000
25%    380022.000000     1.000000     0.000000        0.000000
50%    518005.000000     2.000000     1.000000        0.000000
75%    685595.000000     4.000000     3.000000        0.000000
max    855116.000000   102.000000    89.000000        9.000000

WHOLE COMBINED ENROLLMENT DATA

In [24]:
combined_enro = pd.concat([enro_1, enro_2, enro_3], ignore_index=True)

In [25]:
combined_enro.shape

(1006029, 7)

In [26]:
#combined_enro.head(2000)
combined_demo.head(2000)
#Combined_bio.head(100)

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785
...,...,...,...,...,...,...
1995,01-03-2025,Maharashtra,Pune,411033,189,1989
1996,01-03-2025,Uttar Pradesh,Ballia,277123,49,561
1997,01-03-2025,Rajasthan,Rajsamand,313329,55,1367
1998,01-03-2025,Bihar,Gaya,824118,162,1149
1999,01-03-2025,Punjab,Sri Muktsar Sahib,151210,21,447

In [27]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\visha\appdata\local\programs\python\python311\lib\site-packages (2.2.7)

In [151]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "root"
host = "localhost"
port = "3306"
database = "uidai"

engine = create_engine(f"mysql+mysqldb://{username}:{password}@{host}:{port}/{database}")

# Writes DataFrame to MySQL
table_name = "enrollment"  # choose any table name
combined_enro.to_sql(table_name, engine, if_exists='replace', index=False)

1006125

In [150]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "root"
host = "localhost"
port = "3306"
database = "uidai"

engine = create_engine(f"mysql+mysqldb://{username}:{password}@{host}:{port}/{database}")

# Writes DataFrame to MySQL
table_name = "demographic"  # choose any table name
combined_demo.to_sql(table_name, engine, if_exists='replace', index=False)

2072222

In [149]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "root"
host = "localhost"
port = "3306"
database = "uidai"

engine = create_engine(f"mysql+mysqldb://{username}:{password}@{host}:{port}/{database}")

# Writes DataFrame to MySQL
table_name = "biometric"  # choose any table name
Combined_bio.to_sql(table_name, engine, if_exists='replace', index=False)

1861332

In [ ]:
#state column has '100000' value which was irrelevant
indexes_to_drop = combined_demo[combined_demo['state'] == '100000'].index

# 2. Drop them
combined_demo.drop(indexes_to_drop, inplace=True)

In [130]:
pd.read_sql("select count(state) , state  from demographic group by state;",engine)

    count(state)                      state
0         167889              Uttar Pradesh
1         207742             Andhra Pradesh
2          96399                    Gujarat
3          89510                  Rajasthan
4         153958                  Karnataka
5         169070                West Bangal
6          89088                  Telangana
7         105935                     Odisha
8         162243                Maharashtra
9         105515                     Kerala
10         97623                      Bihar
11        196858                 Tamil Nadu
12         76364             Madhya Pradesh
13         62834                      Assam
14          8845                    Tripura
15          4726          Arunachal Pradesh
16         49611                     Punjab
17         39653                  Jharkhand
18         10510                      Delhi
19          2044                 Chandigarh
20         35730               Chhattisgarh
21         20601            Jammu & Kashmir
22          3840                    Mizoram
23          4035                   Nagaland
24         28037           Himachal Pradesh
25          5921                        Goa
26         28554                    Haryana
27          5363                  Meghalaya
28         23070                Uttarakhand
29          7289                    Manipur
30          1202                Daman & Diu
31          4886                Pondicherry
32          3219                     Sikkim
33           865                     Ladakh
34           949       Dadra & Nagar Haveli
35          1724  Andaman & Nicobar Islands
36           520                Lakshadweep

In [126]:
Combined_bio['state'] = Combined_bio['state'].replace({
    'West  Bengal': 'West Bangal',
    'West bengal' : 'West Bangal'
      })

In [110]:
# Syntax: df['Column'].replace({ 'Old_Value_1': 'New_Value_1', 'Old_Value_2': 'New_Value_2' })

# Example: Standardizing Gender and State names
combined_demo['state'] = combined_demo['state'].replace({
   # 'Chhatisgarh': 'Chhattisgarh',
    #'Westbengal': 'West Bangal',
    'West bengal': 'West Bangal',
    #'west Bengal': 'West Bangal',
    'West  Bengal': 'West Bangal',
    #'Jaipur' : 'Rajasthan',
    #'Nagpur' : 'Maharastra',
    'Maharastra' : 'Maharashtra',
    #'Puttenahalli' : 'Karnataka',
    #'Darbhanga' : 'Bihar',
    #'Raja Annamalai Puram' : 'Tamil Nadu',
    #'Madanapalle' : 'Andhra Pradesh',
    #'Uttaranchal' : 'Uttarakhand',
    #'BALANAGAR' : 'Telangana'
     #'West Bengli': 'West Bangal'
   # 'Puducherry': 'Pondicherry',
    #'Jammu and Kashmir': 'Jammu & Kashmir',
    'ODISHA': 'Odisha',
    'odisha' : 'Odisha'
    
    #'Daman and Diu' : 'Daman & Diu',
    #'Dadra and Nagar Haveli' : 'Dadra & Nagar Haveli'
    #'Andaman and Nicobar Islands' : 'Andaman & Nicobar Islands'
})

In [112]:
print(combined_demo['state'].unique())

['Uttar Pradesh' 'Andhra Pradesh' 'Gujarat' 'Rajasthan' 'Karnataka'
 'West Bangal' 'Telangana' 'Odisha' 'Maharashtra' 'Kerala' 'Bihar'
 'Tamil Nadu' 'Madhya Pradesh' 'Assam' 'Tripura' 'Arunachal Pradesh'
 'Punjab' 'Jharkhand' 'Delhi' 'Chandigarh' 'Chhattisgarh'
 'Jammu & Kashmir' 'Mizoram' 'Nagaland' 'Himachal Pradesh' 'Goa' 'Haryana'
 'Meghalaya' 'Uttarakhand' 'Manipur' 'Daman & Diu' 'Pondicherry' 'Sikkim'
 'Ladakh' 'Dadra & Nagar Haveli' 'Andaman & Nicobar Islands' 'Lakshadweep'
 'andhra pradesh']

In [89]:
import pandas as pd

# 1. Identify the specific merged name
merged_name = "Dadra and Nagar Haveli and Daman and Diu"

# 2. Function to swap the string with a list of the two separate names
def split_ut(val):
    if val == merged_name:
        return ["Dadra and Nagar Haveli", "Daman and Diu"]
    return val

# 3. Apply the split and then explode
# This converts the string to a list ['Dadra...', 'Daman...']
combined_demo['state'] = combined_demo['state'].apply(split_ut)

# 4. Explode creates a new row for every item in the list
combined_demo = combined_demo.explode('state').reset_index(drop=True)

print(combined_demo)

               date           state        district  pincode  demo_age_5_17  \
0        01-03-2025   Uttar Pradesh       Gorakhpur   273213             49
1        01-03-2025  Andhra Pradesh        Chittoor   517132             22
2        01-03-2025         Gujarat          Rajkot   360006             65
3        01-03-2025  Andhra Pradesh      Srikakulam   532484             24
4        01-03-2025       Rajasthan         Udaipur   313801             45
...             ...             ...             ...      ...            ...
2072217  29-12-2025     West Bangal  West Midnapore   721212              0
2072218  29-12-2025     West Bangal  West Midnapore   721420              0
2072219  29-12-2025     West Bangal  West Midnapore   721424              0
2072220  29-12-2025     West Bangal  West Midnapore   721426              0
2072221  29-12-2025     West Bangal         hooghly   712701              0

         demo_age_17_
0                 529
1                 375
2                 765
3                 314
4                 785
...               ...
2072217            12
2072218             1
2072219             5
2072220             3
2072221             1

[2072222 rows x 6 columns]

In [37]:
#state column has '100000' value which was irrelevant
indexes_to_drop = combined_enro[combined_enro['state'] == '100000'].index

# 2. Drop them
combined_enro.drop(indexes_to_drop, inplace=True)

In [132]:
pd.read_sql("select count(state) , state  from biometric group by state;", engine)

    count(state)                      state
0          26429                    Haryana
1          83398                      Bihar
2          19960            Jammu & Kashmir
3         184569                 Tamil Nadu
4         151104                Maharashtra
5          89531                    Gujarat
6          99674                     Odisha
7         130895                West Bangal
8          98511                     Kerala
9          79724                  Rajasthan
10         48108                     Punjab
11         30385           Himachal Pradesh
12        155242              Uttar Pradesh
13         47643                      Assam
14         22601                Uttarakhand
15         70080             Madhya Pradesh
16        141227                  Karnataka
17        172065             Andhra Pradesh
18         82579                  Telangana
19          5428                        Goa
20          3826                   Nagaland
21         36625                  Jharkhand
22          9259                      Delhi
23         31997               Chhattisgarh
24          4178                  Meghalaya
25          1656                 Chandigarh
26          4918                Pondicherry
27          6555                    Manipur
28          2400                     Sikkim
29          8493                    Tripura
30          3349                    Mizoram
31          4244          Arunachal Pradesh
32           733                     Ladakh
33           649       Dadra & Nagar Haveli
34           900                Daman & Diu
35          1847  Andaman & Nicobar Islands
36           550                Lakshadweep

In [148]:
#state column has '100000' value which was irrelevant
indexes_to_drop = Combined_bio[Combined_bio['state'] == '100000'].index

# 2. Drop them
Combined_bio.drop(indexes_to_drop, inplace=True)

In [122]:
Combined_bio['state'] = Combined_bio['state'].replace({
    'West  Bengal': 'West Bangal',
    'West bengal' : 'West Bangal'
      })

In [111]:
# Syntax: df['Column'].replace({ 'Old_Value_1': 'New_Value_1', 'Old_Value_2': 'New_Value_2' })

# Example: Standardizing Gender and State names
Combined_bio['state'] = Combined_bio['state'].replace({
   # 'Chhatisgarh': 'Chhattisgarh',
    #'Westbengal': 'West Bangal',
    'WEST BENGAL': 'West Bangal',
    'west Bengal': 'West Bangal',
    'West Bengal': 'West Bangal',
    'Jaipur' : 'Rajasthan',
    'Nagpur' : 'Maharastra',
    'Puttenahalli' : 'Karnataka',
    'Darbhanga' : 'Bihar',
    'Raja Annamalai Puram' : 'Tamil Nadu',
    'Madanapalle' : 'Andhra Pradesh',
    'Uttaranchal' : 'Uttarakhand',
    'BALANAGAR' : 'Telangana'
     #'West Bengli': 'West Bangal'
   # 'Puducherry': 'Pondicherry',
    #'Jammu and Kashmir': 'Jammu & Kashmir',
    #'Orissa': 'Odisha',
    #'Daman and Diu' : 'Daman & Diu',
    #'Dadra and Nagar Haveli' : 'Dadra & Nagar Haveli'
    #'Andaman and Nicobar Islands' : 'Andaman & Nicobar Islands'
})

In [58]:
import pandas as pd

# 1. Identify the specific merged name
merged_name = "Dadra and Nagar Haveli and Daman and Diu"

# 2. Function to swap the string with a list of the two separate names
def split_ut(val):
    if val == merged_name:
        return ["Dadra and Nagar Haveli", "Daman and Diu"]
    return val

# 3. Apply the split and then explode
# This converts the string to a list ['Dadra...', 'Daman...']
Combined_bio['state'] = Combined_bio['state'].apply(split_ut)

# 4. Explode creates a new row for every item in the list
Combined_bio = Combined_bio.explode('state').reset_index(drop=True)

print(Combined_bio)

               date            state        district  pincode  bio_age_5_17  \
0        01-03-2025          Haryana    Mahendragarh   123029           280
1        01-03-2025            Bihar       Madhepura   852121           144
2        01-03-2025  Jammu & Kashmir           Punch   185101           643
3        01-03-2025            Bihar         Bhojpur   802158           256
4        01-03-2025       Tamil Nadu         Madurai   625514           271
...             ...              ...             ...      ...           ...
1861327  29-12-2025      West Bengal  Uttar Dinajpur   733201             4
1861328  29-12-2025      West Bengal  Uttar Dinajpur   733213             0
1861329  29-12-2025      West Bengal  West Midnapore   721304             0
1861330  29-12-2025      West Bengal  West Midnapore   721451             2
1861331  29-12-2025      West Bengal  West Midnapore   721457             0

         bio_age_17_
0                577
1                369
2               1091
3                980
4                815
...              ...
1861327            9
1861328            1
1861329            3
1861330            0
1861331            1

[1861332 rows x 6 columns]

In [152]:
pd.read_sql("select count(state) , state  from enrollment group by state;", engine)

    count(state)                      state
0           3771                  Meghalaya
1          70198                  Karnataka
2         110369              Uttar Pradesh
3          60567                      Bihar
4          77191                Maharashtra
5          15997                    Haryana
6          56159                  Rajasthan
7          20439                     Punjab
8           6804                      Delhi
9          50225             Madhya Pradesh
10         76561                West Bangal
11         31827                      Assam
12         10007                Uttarakhand
13         46624                    Gujarat
14         65663             Andhra Pradesh
15         92552                 Tamil Nadu
16         18550               Chhattisgarh
17         23218                  Jharkhand
18          1999                   Nagaland
19          3218                    Manipur
20         42774                  Telangana
21          3729                    Tripura
22          1481                    Mizoram
23         11455            Jammu & Kashmir
24           859                 Chandigarh
25          1010                     Sikkim
26         47011                     Odisha
27         39145                     Kerala
28           304       Dadra & Nagar Haveli
29           230                Daman & Diu
30          1601          Arunachal Pradesh
31         10346           Himachal Pradesh
32          1527                        Goa
33           304                     Ladakh
34           392  Andaman & Nicobar Islands
35          1859                Pondicherry
36           159                Lakshadweep

In [145]:
# Syntax: df['Column'].replace({ 'Old_Value_1': 'New_Value_1', 'Old_Value_2': 'New_Value_2' })

# Example: Standardizing Gender and State names
combined_enro['state'] = combined_enro['state'].replace({
    #'Chhatisgarh': 'Chhattisgarh',
    #'WEST BENGAL': 'West Bangal',
    #'West Bengal': 'West Bangal',
    #'west Bengal': 'West Bangal',
    #'West  Bengal': 'West Bangal',
    #'Jaipur' : 'Rajasthan',
   # 'Nagpur' : 'Maharastra',
    #'Maharastra' : 'Maharashtra',
    #'Puttenahalli' : 'Karnataka',
    #'Darbhanga' : 'Bihar',
    #'Raja Annamalai Puram' : 'Tamil Nadu',
    #'Madanapalle' : 'Andhra Pradesh',
   # 'Uttaranchal' : 'Uttarakhand',
    #'BALANAGAR' : 'Telangana'
    #'West Bengli': 'West Bangal'
   # 'Puducherry': 'Pondicherry',
    'Jammu And Kashmir': 'Jammu & Kashmir',
    #'Orissa': 'Odisha',
    #'odisha' : 'Odisha'
    'Daman and Diu' : 'Daman & Diu',
    'Dadra and Nagar Haveli' : 'Dadra & Nagar Haveli'
   # 'Andaman and Nicobar Islands' : 'Andaman & Nicobar Islands'
})

In [144]:
import pandas as pd

# 1. Identify the specific merged name
merged_name1 = "The Dadra And Nagar Haveli And Daman And Diu"

# 2. Function to swap the string with a list of the two separate names
def split_ut(val):
    if val == merged_name1:
        return ["Dadra and Nagar Haveli", "Daman and Diu"]
    return val

# 3. Apply the split and then explode
# This converts the string to a list ['Dadra...', 'Daman...']
combined_enro['state'] = combined_enro['state'].apply(split_ut)

# 4. Explode creates a new row for every item in the list
combined_enro = combined_enro.explode('state').reset_index(drop=True)

print(combined_enro)

               date          state          district  pincode  age_0_5  \
0        02-03-2025      Meghalaya  East Khasi Hills   793121       11
1        09-03-2025      Karnataka   Bengaluru Urban   560043       14
2        09-03-2025  Uttar Pradesh      Kanpur Nagar   208001       29
3        09-03-2025  Uttar Pradesh           Aligarh   202133       62
4        09-03-2025      Karnataka   Bengaluru Urban   560016       14
...             ...            ...               ...      ...      ...
1006120  31-12-2025    West Bangal    West Midnapore   721149        2
1006121  31-12-2025    West Bangal    West Midnapore   721150        2
1006122  31-12-2025    West Bangal    West Midnapore   721305        0
1006123  31-12-2025    West Bangal    West Midnapore   721504        1
1006124  31-12-2025    West Bangal    West Midnapore   721517        2

         age_5_17  age_18_greater
0              61              37
1              33              39
2              82              12
3              29              15
4              16              21
...           ...             ...
1006120         0               0
1006121         2               0
1006122         1               0
1006123         0               0
1006124         1               0

[1006125 rows x 7 columns]

In [158]:
combined_enro.to_csv('New enrollment.csv', index= False)
combined_demo.to_csv('New demographic.csv', index= False)
Combined_bio.to_csv('New Biometric.csv ', index= False)